
.img::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.img::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.img::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #333333;
}

.opacidad::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.opacidad::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.opacidad::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #7fb0b3;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgba(165, 161, 161, 0.6);
    font-family: 'Muli', sans-serif;
}

.img{
    
    margin: 30px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 250px;
}

.img img{
    width:  100%;
    height: auto;
    float: left;
    position: relative;
}
.opacidad{
    position: absolute;
    z-index: 1;
    direction: rtl;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 50%;
    height: 250px;
    background: rgba(165, 161, 161, 0.6);
    opacity: 0;
}

.texto{
    color: #333333;
    font-weight: 900;
}

.img:hover .opacidad{
   opacity: 1;
}

@media(max-width: 992px){
    
}

@media(max-width: 780px){
    
}

@media(max-width: 768px){
    
}

@media(max-width: 670px){
    
}

@media(max-width: 576px){
    .img{
        height: 200px;
    }
    .opacidad{
        
        height: 200px;
    }
}